@import "rptools_core/css/rptools_reset.css";
/*********************************************
      LESS MIXINS
*********************************************/
/*********************************************
            RESPONSIVE HELPERS AND RULES
*********************************************/
/*

<div class="mobile-block">
    You can only see me on mobile
</div>
<a class"mobile-inline tablet-inline">
You can see me on both mobile and tablet, but not desktop
</a>
We can also use to alter text from one plateform to the other.
For exemple the menu item PROFESSIONELS is too long for ipad.
Solution can be to put inside the a tag :
<span class="mobile-inline desktop-inline">Professionnels</span><span class="tablet-inline">Pros</span>
*/
.mobile-inline,
.mobile-inline.tablet-inline,
.mobile-inline.desktop-inline {
  display: inline;
}
.mobile-block,
.mobile-block.tablet-block,
.mobile-block.desktop-block {
  display: block;
}
.mobile-inline-block,
.mobile-inline-block.tablet-inline-block,
.mobile-inline-block.desktop.inline-block {
  display: inline-block;
}
.mobile-cell,
.mobile-cell.tablet-cell,
.mobile-cell.desktop-cell {
  display: table-cell;
}
.mobile-row,
.mobile-row.tablet-row,
.mobile-row.desktop-row {
  display: table-row;
}
.tablet-inline,
.desktop-inline,
.tablet-inline.desktop-inline {
  display: none;
}
.tablet-block,
.desktop-block,
.tablet-block.desktop-block {
  display: none;
}
.tablet-inline-block,
.desktop-inline-block,
.tablet-inline-block.desktop-inline-block {
  display: none;
}
.tablet-cell,
.desktop-cell,
.tablet-cell.desktop-cell {
  display: none;
}
.tablet-row,
.desktop-row,
.tablet-row.desktop-row {
  display: none;
}
@media only screen and (min-width: 760px) {
  .tablet-inline,
  .mobile-inline.tablet-inline,
  .tablet-inline.desktop-inline {
    display: inline;
  }
  .tablet-block,
  .mobile-block.tablet-block,
  .tablet-block.desktop-block {
    display: block;
  }
  .tablet-inline-block,
  .mobile-inline-block.tablet-inline-block,
  .tablet-inline-block.desktop-inline-block {
    display: inline-block;
  }
  .tablet-cell,
  .mobile-cell.tablet-cell,
  .tablet-cell.desktop-cell {
    display: table-cell;
  }
  .tablet-row,
  .mobile-row.tablet-row,
  .tablet-row.desktop-row {
    display: table-row;
  }
  .mobile-inline,
  .desktop-inline,
  .mobile-inline.desktop-inline {
    display: none;
  }
  .mobile-block,
  .desktop-block,
  .mobile-block.desktop-block {
    display: none;
  }
  .mobile-inline-block,
  .desktop-inline-block,
  .mobile-inline-block.desktop-inline-block {
    display: none;
  }
  .mobile-cell,
  .desktop-cell,
  .mobile-cell.desktop-cell {
    display: none;
  }
  .mobile-row,
  .desktop-row,
  .mobile-row.desktop-row {
    display: none;
  }
}
@media only screen and (min-width: 960px) {
  .desktop-inline,
  .desktop-inline.mobile-inline,
  .desktop-inline.tablet-inline {
    display: inline;
  }
  .desktop-block,
  .desktop-block.mobile-block,
  .desktop-block.tablet-block {
    display: block;
  }
  .desktop-inline-block,
  .desktop-inline-block.mobile-inline-block,
  .desktop-inline-block.tablet-inline-block {
    display: inline-block;
  }
  .desktop-cell,
  .desktop-cell.mobile-cell,
  .desktop-cell.tablet-cell {
    display: table-cell;
  }
  .desktop-row,
  .desktop-row.mobile-row,
  .desktop-row.tablet-row {
    display: table-row;
  }
  .mobile-inline,
  .tablet-inline,
  .mobile-inline.tablet-inline {
    display: none;
  }
  .mobile-block,
  .tablet-block,
  .mobile-block.tablet-block {
    display: none;
  }
  .mobile-inline-block,
  .tablet-inline-block,
  .mobile-inline-block.tablet-inline-block {
    display: none;
  }
  .mobile-cell,
  .tablet-cell,
  .mobile-cell.tablet-cell {
    display: none;
  }
  .mobile-row,
  .tablet-row,
  .mobile-row.tablet-row {
    display: none;
  }
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
.align-right {
  text-align: right;
}
.align-center {
  text-align: center;
}
.shadowfix {
  height: 10px;
  margin: 0;
  width: 110%;
  margin-left: -5px;
}
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
.ir br {
  display: none;
}
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}
.js-show {
  display: none;
}
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}
/* Contain floats: h5bp.com/q */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
header,
.calendar {
  font-family: 'Mountains of Christmas', cursive;
}
header {
  text-align: center;
  margin: 10px 0;
}
header .container {
  height: 100%;
  position: relative;
}
header .logo {
  height: 117px;
}
@media only screen and (min-width: 760px) {
  header {
    *zoom: 1;
    text-align: left;
  }
  header:before,
  header:after {
    content: "";
    display: table;
  }
  header:after {
    clear: both;
  }
  header .brand {
    width: 75%;
    float: left;
  }
  header .brand h1 {
    margin: 0;
  }
  header .brand span {
    display: inline-block;
    vertical-align: baseline;
  }
  header .logo {
    width: 25%;
    float: right;
    text-align: right;
    height: auto;
  }
}
@media only screen and (min-width: 760px) {
  header {
    height: 136px;
    margin-bottom: 30px;
  }
  header .container {
    height: 100%;
    position: relative;
  }
  header .brand {
    position: absolute;
    float: none;
    left: 15px;
    bottom: 0;
  }
  header .logo {
    float: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 113%;
    width: auto;
  }
}
footer {
  margin: 30px 0;
}
.footer-content {
  overflow: hidden;
  padding: 10px 0;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
}
.footer-content img {
  width: 30px;
}
.av-grid {
  margin-right: 0;
  margin-left: 0;
}
.av-grid .square-widget {
  text-align: center;
  transition: opacity .3s;
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-top: 0;
  cursor: pointer;
}
.av-grid .square-widget img {
  width: 100%;
  display: block;
  height: auto;
}
.av-grid .square-widget .content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-size: 70px;
  color: #ddba2c;
}
.av-grid .square-widget .content .valign {
  text-align: center;
  width: 100%;
}
.av-grid .square-widget.opened {
  opacity: 0;
  /*    -ms-filter: ~"'progid:DXImageTransform.Microsoft.Alpha(Opacity="@opacity*100 ~")'";
    filter: ~"alpha(opacity=" @opacity*100 ~")";*/
}
.av-grid .square-widget.listening.playing {
  -webkit-animation: audio-opacity 1s infinite;
  /* Chrome, Safari, Opera */
}
.av-grid .square-widget[data-display='none'] {
  opacity: 0.5;
  /*    -ms-filter: ~"'progid:DXImageTransform.Microsoft.Alpha(Opacity="@opacity*100 ~")'";
    filter: ~"alpha(opacity=" @opacity*100 ~")";*/
  cursor: default;
}
.av-grid .square-widget[data-day='25'] {
  margin-top: -50%;
  margin-left: 33.33333333%;
  width: 33.33333333%;
  opacity: 1;
}
.av-grid .square-widget[data-day='25'] .content {
  color: #941f1f;
  font-size: 170px;
}
.av-grid .square-widget[data-day='25'][style] {
  background-color: #ddba2c !important;
  color: red;
}
.av-grid .square-widget[data-day='25'][data-display='none'] {
  display: none;
}
.cal-window {
  position: fixed;
}
.cal-window .wrapper {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: opacity .3s;
  overflow: hidden;
  opacity: 0;
  /*    -ms-filter: ~"'progid:DXImageTransform.Microsoft.Alpha(Opacity="@opacity*100 ~")'";
    filter: ~"alpha(opacity=" @opacity*100 ~")";*/
}
.cal-window .wrapper.animated-gif {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.cal-window .wrapper video {
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
}
.cal-window.loaded .wrapper {
  opacity: 1;
  /*    -ms-filter: ~"'progid:DXImageTransform.Microsoft.Alpha(Opacity="@opacity*100 ~")'";
    filter: ~"alpha(opacity=" @opacity*100 ~")";*/
}
.cal-window.loaded.no-background[style] {
  transition: background-color 1s;
  background-color: transparent !important;
}
.valign {
  display: table;
  table-layout: fixed;
  height: 100%;
}
.valign .valign-content {
  display: table-cell;
  vertical-align: middle;
}
.half-and-half span.half {
  display: inline-block;
  vertical-align: middle;
  width: 48%;
}
.half-and-half .half + .half {
  text-align: right;
}
@-webkit-keyframes audio-opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
