@import "rptools_core/css/rptools_reset.css";
@import "rptools_core/css/rptools_mixins.less";
@import "rptools_core/css/rptools_vars.less";
@import "rptools_core/css/rptools_helpers.less";

@christmasFont:'Mountains of Christmas', cursive;
@gold:#ddba2c;
@red:#941F1F;
header, .calendar{
    font-family: @christmasFont;
}
header{
    text-align: center;
    margin:10px 0;
    .container{
        height:100%;
        position: relative;
    }
    .logo{
        height:117px;
    }
    @media only screen and (min-width:@tablet){
        .clearfix;
        text-align: left;
        .brand{
            h1{
                margin: 0;
            }
            span{
                display: inline-block;
                vertical-align: baseline;
            }
            width:75%;
            float:left;
        }
        .logo{
            width:25%;
            float:right;
            text-align: right;
            height:auto;
        }
    }
    @media only screen and (min-width:@tablet){
        height:136px;
        margin-bottom:30px;
        .container{
            height:100%;
            position: relative;
        }
        .brand{
            position: absolute;
            float:none;
            left:15px;
            bottom:0;
        }
        .logo{
            float:none;
            position: absolute;
            top:0;
            right:0;
            height:113%;
            width:auto;
        }
    }
}
footer{
    margin:30px 0;
}
.footer-content{
    overflow: hidden;
    padding:10px 0;
    border-top:1px solid #444;
    border-bottom:1px solid #444;
    img{
        width:30px;
    }
}
@gridPadding:0;
.av-grid{
    margin-right:0;
    margin-left:-1*@gridPadding;
    .square-widget{
        text-align: center;
        transition:opacity .3s;
        padding-right:0;
        padding-left:0;
        margin-right:@gridPadding;
        margin-top:@gridPadding;
        cursor: pointer;
        img{
            width:100%;
            display: block;
            height:auto;
        }
        .content{
            position: absolute;
            .square(100%);
            top:0;
            left:0;
            font-size:70px;
            color:@gold;
            .valign{
                text-align:center;
                width:100%;
            }
        }
        &.opened{
            .opacity(0);
        }
        &.listening.playing{
           -webkit-animation: audio-opacity 1s infinite; /* Chrome, Safari, Opera */

        }
        &[data-display='none']{
            .opacity(.5);
            cursor: default;
        }
        &[data-day='25']{
            margin-top: -50%;
            margin-left: 100/3%;
            width: 100/3%;
            opacity: 1;
            .content{
                color:@red;
                font-size:170px;
            }
            &[style]{
                background-color:@gold !important;
                color:red;
            }
            &[data-display='none']{
                display: none;
            }
        }
    }
}
.cal-window{
    position:fixed;
    .wrapper{
        display: block;
        position: absolute;
        .square(100%);
        left:0;
        top:0;
        transition:opacity .3s;
        overflow: hidden;
        .opacity(0);
        &.animated-gif{
            background-size: contain;
            background-position: center;
            background-repeat:no-repeat;
        }
        video{
            display: block;
            min-height: 100%;
            min-width:100%;
            max-width:100%;
        }
    }
    &.loaded{
        .wrapper{
            .opacity(1);
        }
        &.no-background[style]{
            transition:background-color 1s;
            background-color:transparent !important;
        }
    }
}
.valign{
    display: table;
    table-layout: fixed;
    height:100%;
    .valign-content{
        display: table-cell;
        vertical-align: middle;
    }
}
.half-and-half{


    span.half{
        display: inline-block;
        vertical-align: middle;
        width:48%;
    }
    .half + .half{
        text-align: right;
    }
}

@-webkit-keyframes audio-opacity {
  0%{
    opacity:1;
  }
  50%{
    opacity:0.5;
  }
  100%{
    opacity:1;
  }
}